<%= form_with(model: experience) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
        <% experience.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firm %>
    <%= form.text_field :firm %>
  </div>

  <div class="field">
    <%= form.label :tasks %>
    <%= form.text_field :tasks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
